#box1 {
  background-color: rgb(255, 217, 217);
  border: 3px solid rgb(189, 53, 3);
  border-radius: 20px;
}

#box2 {
  background-color: rgb(209, 246, 166);
  border-top: 3px dashed rgb(0, 55, 184);
  border-bottom: 3px dashed rgb(0, 55, 184);
}

#box3 {
  border-left: 3px solid green;
  border-right: 3px solid green;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: aliceblue;
  height: 300px;
  width: 500px;

background: url("/images/glx2.jpg") no-repeat center center/cover;

/*
  background-image: url(/images/glx2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
*/

}

#box4 {
  background: url(/images/xxx.png) no-repeat center center;
  background-attachment: fixed;

}
